* {
  margin: 4.5px;
  padding: 0px;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  margin: 0;
}

p,
body,
a {
  font-family: arial;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.n-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.n-links li {
  list-style: none;
}
.n-links a {
  text-decoration: none;
  font-size: 15px;
  color: black;
}
#rimg {
  border-radius: 50%;
  display: block;
}
.container {
  border: solid 5px;
  position: relative;
}
#logo {
  display: flex;
  justify-content: center;
  padding-top: 158px;
}
#search {
  display: flex;
  justify-content: center;
  padding: 10px;
  position: relative;
}
#search input {
  padding: 14px;
  border-radius: 18px;
  border: 1px solid rgb(59, 58, 59, 0.23);
  max-width: 2048px;
  width: 640px;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding-left: 30px;
}
#search input:hover {
  box-shadow: 0 0 1px 3px rgba(0, 0, 0, 0.08);
}
#search input:focus {
  outline: 0;
}
.gic-b {
  background-image: url("images/grid.png");
  background-size: 128px 88px;
  position: relative;
  background-position: -64px -29px;
}
.gic {
  box-sizing: border-box;
  display: inline-block;
  height: 30px;
  width: 30px;
}
.sic {
  box-sizing: border-box;
  display: inline-block;
  height: 30px;
  width: 30px;
  opacity: 0.5;
}
.sic-b {
  background-image: url("images/grid.png");
  background-size: 128px 88px;
  display: block;
  position: absolute;
  background-position: -98px 10px;
  margin-right: 610px;
}
.button {
  display: flex;
  justify-content: center;
  height: 7vh;
  align-items: center;
}
.button a {
  text-decoration: none;
  color: rgb(114, 113, 113);
  margin: 11px;
  letter-spacing: 0.5px;
  font-size: 11pt;
}
.button li {
  flex-wrap: wrap;
  margin: 4px;
  list-style: none;
  border-radius: 6px;
  padding: 9px;
  background-color: rgba(238, 238, 238, 0.692);
}
.button li:hover {
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.4);
}
.foot {
  bottom: 0;
  position: fixed;
  width: 100%;
  background-color: rgba(128, 128, 128, 0.26);
  display: flex;
  height: 39px;
}
.l-foot {
  bottom: 0;
  left: 0;
  position: fixed;
  align-items: baseline;
  display: flex;
  justify-content: flex-start;
  z-index: 10;
}
.r-foot {
  bottom: 0;
  right: 0;
  position: fixed;
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
